@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutSignedIn.cshtml";
}

<div class="jumbotron">
    <h1>Good Boy's Good Bracket</h1>
    <p class="lead">Who's a good bracket?</p>
</div>

<div class="row">
    <div class="col-md-4 scroll">
        <h2>Active Tournaments</h2>
        <table class="table">
            @{
                foreach (var item in Model)
                {
                    if (item.Start < DateTime.Now && item.End > DateTime.Now)
                    {
                        <tr>
                            <td>
                                @{
                                    string name = item.Name;
                                }
                                @Html.ActionLink(name, "Index", "Bracket", new { id = item.TournamentId }, null)
                            </td>
                        </tr>
                                        }

                                    }
            }
        </table>

        <p><a class="btn btn-default" href="https://https://www.techelevator.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 scroll">
        <h2>Past Tournaments</h2>
        <table class="table">
            @{
                foreach (var item in Model)
                {
                    if (item.End < DateTime.Now)
                    {
                        <tr>
                            <td>
                                @{
                                    string name = item.Name;
                                }
                                @Html.ActionLink(name, "Index", "Bracket", new { id = item.TournamentId }, null)
                            </td>
                        </tr>
                                        }
                                    }
            }
        </table>
        <p><a class="btn btn-default" href="https://www.techelevator.com">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4 scroll">
        <h2>Upcoming Tournaments</h2>
        <table class="table">
            @{
                foreach (var item in Model)
                {
                    if (item.Start > DateTime.Now)
                    {
                        <tr>
                            <td>
                                @{
                                    string name = item.Name;
                                }
                                @Html.ActionLink(name, "Index", "Bracket", new { id = item.TournamentId }, null)
                            </td>
                        </tr>
                                        }
                                    }
            }
        </table>

        <p><a class="btn btn-default" href="https://https://www.techelevator.com">Learn more &raquo;</a></p>
    </div>
</div>

