@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.bracket.min.css">
    <script type="text/javascript" src="~/Scripts/jquery.bracket.min.js"></script>
    <script type="text/javascript">
        var saveData;

        $(document).ready(function () {
            var url = '/Bracket/GetTournament/@ViewBag.Id';
            $.ajax({ url: url, success: DataRetrieved, type: 'POST', dataType: 'json' });

            function DataRetrieved(data) {
                console.log(data);
                saveData = data;

                var container = $('#bracket-test')
                container.bracket({
                    init: saveData,
                    save: saveFn,
                    disableTeamEdit: false,
                    disableToolbar: false,
                    teamWidth: 120,
                    scoreWidth: 42,
                    matchMargin: 80,
                    roundMargin: 82,
                    userData: "http://myapi"
                })
            }

            function saveFn(data, userData) {
                //var json = jQuery.toJSON(data)
                //$('#saveOutput').text('POST ' + userData + ' ' + json)
                /* You probably want to do something like this
                jQuery.ajax("rest/"+userData, {contentType: 'application/json',
                                              dataType: 'json',
                                              type: 'post',
                                              data: json})
                */
            }
        });
    </script>
}
<div id="bracket-test">
</div>